@use "../shared/util" as *;
@use "../shared/vars" as *;
@use "../themes/colors" as colors;

/*=========================
   STYLES
==========================*/
.collection-page {
  padding: $content-padding;

  .collection-title {
    display: flex;
    align-items: center;
    justify-items: center;

    font-size: rem(28px);
    text-align: center;
    font-weight: 600;

    i {
      font-size: rem(20px);
      margin-right: rem(14px);
    }
  }

  .collection-posts {
    margin-top: rem(24px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: rem(24px) rem(24px);
  }
}

/*=========================
   MOBILE STYLES
==========================*/
@container content (max-width: #{$breakpoint-mobile}) {
  .collection-page {
    padding: rem(24px) 0 rem(24px) 0;

    & > .collection-title {
      margin: 0 rem(16px) 0 rem(16px);
    }

    & > .collection-posts {
      grid-template-columns: 1fr;
    }
  }
}
