@use "../shared/util" as *;
@use "../shared/vars" as *;
@use "../shared/fonts" as *;
@use "../themes/colors" as colors;

/*=========================
   COLORS
==========================*/
html .index-page {
  --color-index-welcome-accent: #{colors.$dark-mode-index-welcome-accent};
  --color-index-links: #{colors.$dark-mode-index-links};
  --color-index-link-projects-hover: #{colors.$dark-mode-index-link-projects-hover};
  --color-index-link-drawings-hover: #{colors.$dark-mode-index-link-drawings-hover};
  --color-index-link-articles-hover: #{colors.$dark-mode-index-link-articles-hover};
  --color-index-link-about-hover: #{colors.$dark-mode-index-link-about-hover};
}

html[data-theme="light"] .index-page {
  --color-index-welcome-accent: #{colors.$light-mode-index-welcome-accent};
  --color-index-links: #{colors.$light-mode-index-links};
  --color-index-link-projects-hover: #{colors.$light-mode-index-link-projects-hover};
  --color-index-link-drawings-hover: #{colors.$light-mode-index-link-drawings-hover};
  --color-index-link-articles-hover: #{colors.$light-mode-index-link-articles-hover};
  --color-index-link-about-hover: #{colors.$light-mode-index-link-about-hover};
}

/*=========================
   STYLES
==========================*/
.index-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  gap: 0;
  font-family: $content-font-family;

  .index-page-top {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 20px;

    .welcome-wrapper {
      flex-direction: row;
      gap: 0;
      flex-grow: 1;
      display: flex;
      align-items: center;

      font-weight: lighter;
      font-size: rem(38px);

      .welcome-name, .welcome-occupation {
        flex: 0;
        flex-flow: column;
        align-items: center;
        text-align: center;
      }

      .welcome-name {
        display: flex;
        flex: 1;
        align-items: end;
        align-self: start;
        text-align: end;

        .welcome-accent {
          color: var(--color-index-welcome-accent);
          font-size: rem(45px);
          font-weight: normal;
          letter-spacing: 1px;
        }

        .welcome-name-second {
          padding-right: rem(20px);
        }
      }

      .welcome-occupation {
        display: flex;
        flex: 1;
        align-items: start;
        align-self: end;
        text-align: start;

        .welcome-occupation-first {
          padding-left: rem(20px);
        }
      }

      .welcome-pic {
        flex: 0;
        height: rem(220px);
        width: rem(220px);
        border-radius: 50%;
      }
    }
  }

  .index-page-bottom {
    flex-grow: 0;

    .links-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;

      flex-direction: row;
      width: 100%;
      gap: 0;

      .link {
        position: relative;
        display: flex;
        align-items: center;

        font-weight: 300;
        color: var(--color-index-links);

        padding-top: rem(50px);
        padding-bottom: rem(50px);
        flex-grow: 1;
        flex-direction: column;
        gap: rem(10px);

        .link-icon {
          flex-grow: 1;
          font-size: rem(40px);
        }

        .link-title {
          flex-grow: 1;
          font-size: rem(28px);
          letter-spacing: 1px;
        }
      }
    }
  }
}

/*=========================
   MOBILE STYLES
==========================*/
@container content (max-width: #{$breakpoint-mobile}) {
  .index-page {
    padding-top: rem(40px);
    padding-bottom: rem(60px);
    gap: rem(60px);

    & > .index-page-top {
      flex-grow: 0;

      & > .welcome-wrapper {
        flex-direction: column;
        gap: rem(30px);

        & > .welcome-name,
        & > .welcome-occupation {
          flex: 0;
          flex-flow: column;
          align-items: center;
          text-align: center;
          align-self: center;

          & > .welcome-name-second {
            padding-right: 0;
          }

          & > .welcome-occupation-first {
            padding-left: 0;
          }
        }
      }
    }

    & > .index-page-bottom {
      & > .links-wrapper {
        flex-direction: column;
        gap: rem(40px);

        & > .link {
          flex-direction: row;
          gap: rem(20px);
          padding-top: 0;
          padding-bottom: 0;

          & > .link-icon {
            font-size: rem(30px);
          }
        }
      }
    }
  }
}

/*=========================
   HOVER STYLES
==========================*/
@media (hover: hover) {
  .index-page .link {
    &:hover, &:focus-within {
      font-weight: 300;

      &.projects-link {
        color: var(--color-index-link-projects-hover);
      }

      &.drawings-link {
        color: var(--color-index-link-drawings-hover);
      }

      &.articles-link {
        color: var(--color-index-link-articles-hover);
      }

      &.about-link {
        color: var(--color-index-link-about-hover);
      }
    }
  }
}
