.index-page {
  .welcome-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;

    margin: 24px 12px 24px 12px;

    font-weight: 400;
    font-size: 30px;
    font-family: "Courier New", monospace;
  }

  .welcome-first {
    flex-grow: 1;
    text-align: center;

    .welcome-name {
      font-weight: 800;
      color: #e31b6d;
    }
  }

  .welcome-pic {
    border-radius: 50%;
    flex-grow: 0;
    height: 180px;
    width: 180px;

    margin: 24px 12px 24px 12px;
  }

  .welcome-second {
    flex-grow: 1;

    text-align: center;
  }

  @media only screen and (min-width: 600px) {
    .welcome-wrapper {
      flex-flow: row;

      margin: 40px 0 24px 0;

      .welcome-first {
        align-self: start;
      }

      .welcome-pic {
        margin: 0 12px 0 12px;
      }

      .welcome-second {
        align-self: end;
      }
    }
  }
}
