@use "../shared/util" as *;
@use "../shared/vars" as *;
@use "../shared/fonts" as *;
@use "../themes/colors" as colors;

/*=========================
   COLORS
==========================*/
html {
  --color-version-json-brace: #{colors.$dark-mode-version-json-brace};
  --color-version-json-key: #{colors.$dark-mode-version-json-key};
  --color-version-json-value: #{colors.$dark-mode-version-json-value};

  &[data-theme="light"] {
    --color-version-json-brace: #{colors.$light-mode-version-json-brace};
    --color-version-json-key: #{colors.$light-mode-version-json-key};
    --color-version-json-value: #{colors.$light-mode-version-json-value};
  }
}

/*=========================
   STYLES
==========================*/
#version-json {
  margin: rem(14px) rem(8px) rem(14px) rem(30px);
  padding: 0 rem(4px);
  display: flex;
  flex-direction: column;
  font-size: rem(14px);
  font: $code-font;
  white-space: nowrap;
  overflow-x: auto;

  .version-line:not(.json-brace) {
    padding-left: rem(14px);
  }

  .json-brace {
    color: var(--color-version-json-brace);
  }

  .json-key {
    color: var(--color-version-json-key);
  }

  .json-value {
    color: var(--color-version-json-value);
  }
}

/*=========================
   MOBILE STYLES
==========================*/
@container content (max-width: #{$breakpoint-mobile}) {
  #version-json {
    margin: rem(14px) rem(8px) rem(14px) rem(14px);
  }
}
