@use "../shared/util" as *;
@use "../shared/vars" as *;
@use "../themes/colors" as colors;

/*=========================
   COLORS
==========================*/
html {
  --color-search-bar-background: #{colors.$dark-mode-search-bar-background};
  --color-search-bar-foreground: #{colors.$dark-mode-search-bar-foreground};
  --color-search-bar-active-border: #{colors.$dark-mode-search-bar-active-border};
  --color-search-bar-placeholder: #{colors.$dark-mode-search-bar-placeholder};
  --color-search-tag-foreground: #{colors.$dark-mode-search-tag-foreground};
  --color-search-tag-background: #{colors.$dark-mode-search-tag-background};
  --color-search-tag-number-foreground: #{colors.$dark-mode-search-tag-number-foreground};
  --color-search-tag-hover-background: #{colors.$dark-mode-search-tag-hover-background};
  --color-search-tag-hover-foreground: #{colors.$dark-mode-search-tag-hover-foreground};
  --color-search-tag-hover-border: #{colors.$dark-mode-search-tag-hover-border};
  --color-search-tag-selected-background: #{colors.$dark-mode-search-tag-selected-background};
  --color-search-tag-selected-foreground: #{colors.$dark-mode-search-tag-selected-foreground};
  --color-search-tag-selected-border: #{colors.$dark-mode-search-tag-selected-border};
  --color-search-tag-selected-hover-background: #{colors.$dark-mode-search-tag-selected-hover-background};
  --color-search-tag-selected-hover-foreground: #{colors.$dark-mode-search-tag-selected-hover-foreground};
  --color-search-tag-selected-hover-border: #{colors.$dark-mode-search-tag-selected-hover-border};
  --color-search-results-label: #{colors.$dark-mode-search-results-label};

  &[data-theme="light"] {
    --color-search-bar-background: #{colors.$light-mode-search-bar-background};
    --color-search-bar-foreground: #{colors.$light-mode-search-bar-foreground};
    --color-search-bar-active-border: #{colors.$light-mode-search-bar-active-border};
    --color-search-bar-placeholder: #{colors.$light-mode-search-bar-placeholder};
    --color-search-tag-foreground: #{colors.$light-mode-search-tag-foreground};
    --color-search-tag-background: #{colors.$light-mode-search-tag-background};
    --color-search-tag-number-foreground: #{colors.$light-mode-search-tag-number-foreground};
    --color-search-tag-hover-background: #{colors.$light-mode-search-tag-hover-background};
    --color-search-tag-hover-foreground: #{colors.$light-mode-search-tag-hover-foreground};
    --color-search-tag-hover-border: #{colors.$light-mode-search-tag-hover-border};
    --color-search-tag-selected-background: #{colors.$light-mode-search-tag-selected-background};
    --color-search-tag-selected-foreground: #{colors.$light-mode-search-tag-selected-foreground};
    --color-search-tag-selected-border: #{colors.$light-mode-search-tag-selected-border};
    --color-search-tag-selected-hover-background: #{colors.$light-mode-search-tag-selected-hover-background};
    --color-search-tag-selected-hover-foreground: #{colors.$light-mode-search-tag-selected-hover-foreground};
    --color-search-tag-selected-hover-border: #{colors.$light-mode-search-tag-selected-hover-border};
    --color-search-results-label: #{colors.$light-mode-search-results-label};
  }
}

/*=========================
   STYLES
==========================*/
#search {
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
  padding-top: rem(12px);

  #search-box-wrapper {
    display: flex;
    margin-top: rem(6px);
    margin-bottom: rem(12px);
    align-items: center;
    justify-content: center;
    position: relative;

    .icon-chevron-right {
      font-size: rem(16px);
      width: rem(20px);
    }

    #search-box {
      flex: 1;
      font-size: rem(13px);
      margin-right: rem(12px);
      padding: rem(4px) rem(7px);
      outline: none;
      border: none;
      border-radius: rem(2px);
      color: var(--color-search-bar-foreground);
      background-color: var(--color-search-bar-background);
      min-width: 0;

      &::placeholder {
        color: var(--color-search-bar-placeholder);
      }

      &:focus {
        outline: rem(1px) solid var(--color-search-bar-active-border);
        outline-offset: rem(-1px);
      }
    }

    #search-box-clear {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: rem(25px);
      right: rem(12px);
      border-radius: rem(2px);

      i {
        font-size: rem(16px);
      }
    }
  }

  #search-scroll {
    flex: 1;
    height: 0;

    #search-tags-wrapper {
      display: flex;
      margin-top: rem(5px);
      margin-bottom: rem(12px);
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 rem(12px);
      align-items: center;
      gap: rem(6px);


      .tag-item {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        user-select: none;

        outline-color: transparent;
        transition: flex-grow 0.1s, outline-color 0.1s, background-color 0.1s, color 0.1s;

        padding: 0 rem(8px) 0 rem(8px);
        color: var(--color-search-tag-foreground);
        outline-offset: rem(-1px);
        height: rem(25px);
        border-radius: rem(50px);


        $min: 0.1;
        $max: 0.25;
        $steps: 10;
        @for $i from 1 through $steps {
          &.tag-size-#{$i} {
            background-color: rgba(var(--color-search-tag-background), calc(($max - $min) / ($steps - 1)) * ($i - 1) + $min);
          }
        }

        .tag-name {
          font-size: rem(13px);
          text-align: center;
          line-height: rem(25px);
          vertical-align: middle;
          height: rem(25px);
        }

        .tag-number {
          display: inline-block;
          margin-left: rem(4px);
          font-size: rem(11px);
          line-height: rem(25px);
          text-align: center;
          vertical-align: middle;
          color: var(--color-search-tag-number-foreground);
        }
      }

      &::after {
        content: "";
        flex-grow: 200;
      }
    }

    #search-results-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: rem(5px);

      #search-results-label {
        margin-left: rem(22px);
        margin-bottom: rem(10px);
        color: var(--color-search-results-label);
      }

      #search-results-items {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

/*=========================
   MOBILE STYLES
==========================*/
@media (max-width: #{$breakpoint-mobile}) {
  #search {
    #search-box-wrapper {
      #search-box {
        padding: rem(7px) rem(7px);
      }

      #search-box-clear {
        width: rem(30px);
      }
    }

    #search-scroll #search-tags-wrapper .tag-item {
      height: rem(30px);
    }
  }
}

/*=========================
   HOVER STYLES
==========================*/
@media (hover: hover) {
  #search #search-scroll #search-tags-wrapper .tag-item {
    &:hover, &:focus-visible {
      flex-grow: 100;
      outline: rem(1px) solid var(--color-search-tag-hover-border);
      background-color: var(--color-search-tag-hover-background);
      color: var(--color-search-tag-hover-foreground);
    }
  }
}

/*=========================
   STATE STYLES
==========================*/
#search {
  #search-box-wrapper #search-box-clear.hidden {
    display: none;
  }

  #search-scroll {
    #search-tags-wrapper {
      &.hidden {
        display: none;
      }

      .tag-item:active {
        outline: rem(1px) solid var(--color-search-tag-hover-border);
        background-color: var(--color-search-tag-hover-background);
        color: var(--color-search-tag-hover-foreground);
      }
    }

    #search-results-wrapper {
      &.hidden {
        display: none;
      }

      .folder:not(.result-item) {
        display: none;
      }

      .file-item:not(.result-item) {
        display: none;
      }
    }
  }
}
