<div class="footer-wrapper">
  <div class="footer-left">

    <button class="theme-button" title="Change Theme" onclick="switchTheme()">
      <i class="icon icon-dark-theme"></i>
      <i class="icon icon-light-theme"></i>
    </button>

    <a class="icon icon-source-control" title="Portfolio (Git) - main"
       href="https://github.com/roquec/Portfolio"
       target="_blank">
      &nbsp;main
    </a>

  </div>

  <div class="footer-right">

    <span>
      <i class="icon icon-copyright"></i> Copyright <span id="year"></span>, Roque Carrizo
    </span>

    <script>
      document.getElementById("year").innerHTML = new Date().getFullYear().toString();
    </script>

  </div>
</div>
