<nav class="navigation-wrapper" id="navigation-wrapper">
  <div class="nav-panel files-panel scrollable" id="files-panel">

    <div class="nav-header">EXPLORER</div>

    <div class="file-item folder-item portfolio" id="portfolio-folder">
      <button class="overlay" onclick="toggleFolder('portfolio-folder')"></button>
      <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
      <div class="file-name">ROQUEC</div>
    </div>
    <div class="folder portfolio-folder">
      {% include file-item.html id='index-file' icon='html' name='index' type='.html' link='/main.html' %}

      {% include file-item.html id='about-me-file' icon='readme' name='README' type='.md' link='/profile.html' %}

      {% include file-item.html id='config-file' icon='config' name='.editorconfig' link='/settings.html' %}

      <div class="file-item folder-item projects" id="projects-folder">
        <button class="overlay" onclick="toggleFolder('projects-folder')"></button>
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">projects</div>
      </div>
      <div class="folder projects-folder">
        {% include file-item.html id='projects-file' icon='html' name='projects' type='.html' link='/projects.html' %}

        {% for project in site.projects %}
        {% capture project_id %}project-file-{{forloop.index}}{% endcapture %}
        {% include file-item.html id=project_id link=project.url icon='markdown' name=project.slug type='.md' %}
        {% endfor %}
      </div>

      <div class="file-item folder-item articles" id="articles-folder">
        <button class="overlay" onclick="toggleFolder('articles-folder')"></button>
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">articles</div>
      </div>
      <div class="folder articles-folder">
        {% include file-item.html id='articles-file' icon='html' name='articles' type='.html' link='/articles.html' %}

        {% for article in site.articles %}
        {% capture article_id %}article-file-{{forloop.index}}{% endcapture %}
        {% include file-item.html id=article_id link=article.url icon='markdown' name=article.title type='.md' %}
        {% endfor %}
      </div>

      <div class="file-item folder-item drawings" id="drawings-folder">
        <button class="overlay" onclick="toggleFolder('drawings-folder')"></button>
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">drawings</div>
      </div>
      <div class="folder drawings-folder">
        {% include file-item.html id='drawings-file' icon='html' name='drawings' type='.html' link='/drawings.html' %}

        {% for drawing in site.drawings %}
        {% capture drawing_id %}drawing-file-{{forloop.index}}{% endcapture %}
        {% include file-item.html id=drawing_id link=drawing.url icon='markdown' name=drawing.title type='.md' %}
        {% endfor %}
      </div>

      {% include file-item.html id='version-file' icon='json' name='version' type='.json' link='/version.json' %}
    </div>

  </div>

  <div class="nav-panel search-panel scrollable" id="search-panel">
    <label class="nav-header" for="search-box">SEARCH</label>
    <div class="search-box-wrapper">
      <i class="icon icon-chevron-down"></i>
      <input type="text" spellcheck="false" autocapitalize="off" title="Search" placeholder="Search" id="search-box"/>
    </div>
    <div class="tags-wrapper">
      {% assign posts = site.projects | concat: site.articles | concat: site.drawings %}
      {% assign grouptag = posts | map: 'tags' | join: ',' | split: ',' | group_by_exp: "item", "item" | sort: 'name' %}
      {% for tag in grouptag %}
      <button class="tag-item tag-size-{{ tag.size }}">
        <span class="tag-name">{{ tag.name }}</span>
        <span class="tag-number">{{ tag.size }}</span>
      </button>
      {% endfor %}
      <div class="tag-item dummy-tag"></div>
    </div>
  </div>

  <a id="resizer"></a>

  <a id="mobile-overlay" onclick="closeNavigationPanel()"></a>
</nav>
