<nav class="navigation-wrapper" id="navigation-wrapper">
  <div class="nav-panel files-panel scrollable" id="files-panel">

    <div class="nav-header">EXPLORER</div>

    <div class="file-item folder-item portfolio" id="portfolio-folder">
      <button class="overlay" onclick="toggleFolder('portfolio-folder')"></button>
      <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
      <div class="file-name">ROQUEC</div>
    </div>
    <div class="folder portfolio-folder">
      {% include file-item.html id='main.html' %}

      {% include file-item.html id='profile.md' %}

      {% include file-item.html id='README.md' %}

      {% include file-item.html id='config.html' %}

      <div class="file-item folder-item projects" id="projects-folder">
        <button class="overlay" onclick="toggleFolder('projects-folder')"></button>
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">projects</div>
      </div>

      <div class="folder projects-folder">
        {% include file-item.html id='projects.html' %}

        {% for project in site.projects %}
        {% include file-item.html page=project %}
        {% endfor %}
      </div>

      <div class="file-item folder-item articles" id="articles-folder">
        <button class="overlay" onclick="toggleFolder('articles-folder')"></button>
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">articles</div>
      </div>
      <div class="folder articles-folder">
        {% include file-item.html id='articles.html' %}

        {% for article in site.articles %}
        {% include file-item.html page=article %}
        {% endfor %}
      </div>

      <div class="file-item folder-item drawings" id="drawings-folder">
        <button class="overlay" onclick="toggleFolder('drawings-folder')"></button>
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">drawings</div>
      </div>
      <div class="folder drawings-folder">
        {% include file-item.html id='drawings.html' %}

        {% for drawing in site.drawings %}
        {% include file-item.html page=drawing %}
        {% endfor %}
      </div>

      {% include file-item.html id='version.html' %}

      {% include file-item.html id='404.html' %}
    </div>

  </div>

  <div class="nav-panel search-panel scrollable files-panel" id="search-panel">

    <label class="nav-header" for="search-box">SEARCH</label>

    <div class="search-box-wrapper">
      <i class="icon icon-chevron-right"></i>
      <input type="text" autocomplete="off" spellcheck="false" autocapitalize="off" title="Search" placeholder="Search"
             id="search-box"/>
    </div>

    <div class="tags-wrapper">
      {% assign posts = site.projects | concat: site.articles | concat: site.drawings %}
      {% assign grouptag = posts | map: 'tags' | join: ',' | downcase | split: ',' | group_by_exp: "item", "item" |
      sort: 'name' %}

      {% assign biggestTag = grouptag | sort: 'size' | last %}
      {% assign smallestTag = grouptag | sort: 'size' | first %}
      {% assign minSize = smallestTag.size %}
      {% assign maxScale = biggestTag.size | minus: minSize %}
      {% assign step = 9 | divided_by: maxScale %}

      {% for tag in grouptag %}
      {% assign scale = tag.size | minus: minSize | times: step | plus: 1.0 | round %}
      <button class="tag-item tag-size-{{ scale }}" onclick="searchTag('{{ tag.name }}')">
        <span class="tag-name">{{ tag.name }}</span>
        <span class="tag-number">{{ tag.size }}</span>
      </button>
      {% endfor %}
    </div>

    <div class="search-results folder">

      <div class="file-item folder-item projects">
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">projects</div>
      </div>

      <div class="folder projects-folder open">
        {% for project in site.projects %}
        {% include file-item.html page=project %}
        {% endfor %}
      </div>

      <div class="file-item folder-item articles">
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">articles</div>
      </div>
      <div class="folder articles-folder open">
        {% for article in site.articles %}
        {% include file-item.html page=article %}
        {% endfor %}
      </div>

      <div class="file-item folder-item drawings">
        <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
        <div class="file-name">drawings</div>
      </div>
      <div class="folder drawings-folder open">
        {% for drawing in site.drawings %}
        {% include file-item.html page=drawing %}
        {% endfor %}
      </div>

    </div>

  </div>

  <a id="resizer"></a>

  <a id="mobile-overlay" onclick="closeNavigationPanel()"></a>
</nav>
