<script type="text/javascript" src="/assets/js/theme-selector.js?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
<script type="text/javascript" src="/assets/js/folder-collapse.js?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
<script type="text/javascript" src="/assets/js/file-item-focus-state.js?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
<script type="text/javascript" src="/assets/js/navigation-panel.js?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
<script type="text/javascript" src="/assets/js/panel-resize.js?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
<script type="text/javascript" src="/assets/js/initial-state.js?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
<script type="text/javascript" src="/assets/js/search-function.js?v={{ 'now' | date: '%Y%m%d%H%M%S' }}"></script>
