<div class="nav-panel search-panel scrollable" id="search-panel">

  <label class="nav-header" for="search-box">SEARCH</label>

  <div class="search-box-wrapper" id="search-box-wrapper">
    <i class="icon icon-chevron-right"></i>
    <input type="text" autocomplete="off" spellcheck="false" autocapitalize="off" title="Search" placeholder="Search"
           id="search-box" oninput="onSearchInput()"/>
    <span></span>
  </div>

  <div class="tags-wrapper" id="tags-wrapper">
    <i class="icon icon-tag"></i>
    {% assign posts = site.projects | concat: site.articles | concat: site.drawings %}
    {% assign grouptag = posts | map: 'tags' | join: ',' | split: ',' | group_by_exp: "item", "item" |
    sort: 'name' %}

    {% assign biggestTag = grouptag | sort: 'size' | last %}
    {% assign smallestTag = grouptag | sort: 'size' | first %}
    {% assign minSize = smallestTag.size %}
    {% assign maxScale = biggestTag.size | minus: minSize %}
    {% assign step = 9 | divided_by: maxScale %}

    {% for tag in grouptag %}
    {% assign scale = tag.size | minus: minSize | times: step | plus: 1.0 | round %}
    <button class="tag-item tag-size-{{ scale }}" id="tag-{{tag.name}}" onclick="onTagClick('{{ tag.name }}')">
      <span class="tag-name">{{ tag.name }}</span>
      <span class="tag-number">{{ tag.size }}</span>
      <i class="icon icon-cross"></i>
    </button>
    {% endfor %}
  </div>

  <div class="search-results" id="search-results">

    <div>5 results in 2 files</div>

    <div class="file-item folder-item projects">
      <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
      <div class="file-name">projects</div>
    </div>

    <div class="folder projects-folder open">
      {% for project in site.projects %}
      {% include file-item.html page=project scope="search-panel" %}
      {% endfor %}
    </div>

    <div class="file-item folder-item articles">
      <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
      <div class="file-name">articles</div>
    </div>
    <div class="folder articles-folder open">
      {% for article in site.articles %}
      {% include file-item.html page=article scope="search-panel" %}
      {% endfor %}
    </div>

    <div class="file-item folder-item drawings">
      <i class="icon icon-chevron-down"></i><i class="icon icon-chevron-right"></i>
      <div class="file-name">drawings</div>
    </div>
    <div class="folder drawings-folder open">
      {% for drawing in site.drawings %}
      {% include file-item.html page=drawing scope="search-panel" %}
      {% endfor %}
    </div>

  </div>

</div>
