<div class="sidebar-menu">

  <div class="sidebar-top">

    <div class="icon-wrapper">
      <a href="#" class="icon icon-files"></a>
      <span class="icon-tooltip">
        Navigation
      </span>
    </div>

    <div class="icon-wrapper">
      <a href="#" class="icon icon-search"></a>
      <span class="icon-tooltip">
        Search
      </span>
    </div>

    <div class="icon-wrapper">
      <a href="https://github.com/roquec" target="_blank" class="icon icon-github"></a>
      <span class="icon-tooltip">
        My Github
      </span>
    </div>

    <div class="icon-wrapper">
      <a href="https://www.linkedin.com/in/roquec/" target="_blank" class="icon icon-linkedin"></a>
      <span class="icon-tooltip">
        My LinkedIn
      </span>
    </div>

    <div class="icon-wrapper">
      <a href="mailto:roquecarrizof@gmail.com" class="icon icon-email"></a>
      <span class="icon-tooltip">
        roquecarrizof@gmail.com
      </span>
    </div>
  </div>

  <div class="sidebar-bottom">


    <div class="icon-wrapper">
      <a href="#" class="icon profile-pic">
        <img src="/assets/images/roque_profile.png" alt="Profile Picture">
      </a>
      <span class="icon-tooltip">
        About me
      </span>
    </div>

    <div class="icon-wrapper">
      <a href="#" class="icon icon-settings"></a>
      <span class="icon-tooltip">
        Settings
      </span>
    </div>
  </div>
</div>

<nav class="sidebar-navigation">
  {% include navigation.html %}
</nav>
