<div class="sidebar">
  <div class="sidebar-top">

    <div class="icon-wrapper files-icon" id="files-icon">
      <a class="overlay" href="#" onclick="toggleFilesPanel()"></a>
      <div class="highlight"></div>
      <i class="icon icon-files"></i>
      <span class="tooltip-wrapper"><span class="icon-tooltip">Navigation</span></span>
    </div>

    <div class="icon-wrapper search-icon" id="search-icon">
      <a class="overlay" href="#" onclick="toggleSearchPanel()"></a>
      <div class="highlight"></div>
      <i class="icon icon-search"></i>
      <span class="tooltip-wrapper"><span class="icon-tooltip">Search</span></span>
    </div>

    <div class="icon-wrapper">
      <a class="overlay" href="https://github.com/roquec" target="_blank"></a>
      <div class="highlight"></div>
      <i class="icon icon-github"></i>
      <span class="tooltip-wrapper"><span class="icon-tooltip">My Github</span></span>
    </div>

    <div class="icon-wrapper">
      <a class="overlay" href="https://www.linkedin.com/in/roquec" target="_blank"></a>
      <div class="highlight"></div>
      <i class="icon icon-linkedin"></i>
      <span class="tooltip-wrapper"><span class="icon-tooltip">My LinkedIn</span></span>
    </div>

    <div class="icon-wrapper">
      <a class="overlay" href="mailto:roquecarrizof@gmail.com"></a>
      <div class="highlight"></div>
      <i class="icon icon-email"></i>
      <span class="tooltip-wrapper"><span class="icon-tooltip">roquecarrizof@gmail.com</span></span>
    </div>
  </div>

  <div class="sidebar-bottom">


    <div class="icon-wrapper">
      <a class="overlay" href="/main"></a>
      <div class="highlight"></div>
      <i class="icon profile-pic">
        <img src="/assets/images/roque_profile.webp" alt="Profile Picture">
      </i>
      <span class="tooltip-wrapper"><span class="icon-tooltip">About me</span></span>
    </div>

    <div class="icon-wrapper">
      <a class="overlay" href="/settings.html"></a>
      <div class="highlight"></div>
      <i class="icon icon-settings"></i>
      <span class="tooltip-wrapper"><span class="icon-tooltip">Settings</span></span>
    </div>
  </div>
</div>
