@import "../theme/light", "../theme/dark", "../variables";

// Colors
html .card {
  --color-card-foreground: #{$dark-mode-card-foreground};
  --color-card-outline: #{$dark-mode-card-outline};
  --color-card-background: #{$dark-mode-card-background};
}

html[data-theme="light"] .card {
  --color-card-foreground: #{$light-mode-card-foreground};
  --color-card-outline: #{$light-mode-card-outline};
  --color-card-background: #{$light-mode-card-background};
}

// Mobile
.card {
  position: relative;
  height: rem(180px);
  overflow: hidden;
  border-radius: rem(5px);
  outline: rem(1px) solid var(--color-content-foreground-muted);
  transition: outline-color 0.15s ease-in-out, outline-width 0.15s ease-in-out;

  .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--color-card-foreground);

    &:before {
      flex-grow: 1;
      content: "";
      display: block;
    }

    .card-title {
      width: 100%;
      padding: rem(8px) rem(12px);
      background-color: var(--color-card-background);
      font-size: rem(16px);
      font-weight: 300;
    }
  }

  .card-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: transform 0.15s ease-in-out;
  }
}

// Desktop
@container content (min-width: #{$breakpoint-mobile}) {
  .card {
    height: rem(260px);

    .card-content {
      .card-title {
        padding: rem(12px) rem(16px);
        font-size: rem(20px);
      }
    }
  }
}

// Hover effects
@media (hover: hover) {
  .card {
    &:hover, &:focus-within {
      outline: rem(3px) solid var(--color-card-outline);

      .card-thumbnail {
        transform: scale(1.2);
      }
    }
  }
}
