@import "../theme/light", "../theme/dark", "../variables";

// Colors
html .card {
  --color-card-foreground: #{$dark-mode-card-foreground};
  --color-card-outline: #{$dark-mode-card-outline};
  --color-card-background: #{$dark-mode-card-background};
}

html[data-theme="light"] .card {
  --color-card-foreground: #{$light-mode-card-foreground};
  --color-card-outline: #{$light-mode-card-outline};
  --color-card-background: #{$light-mode-card-background};
}

// Styles
.card {
  position: relative;
  overflow: hidden;
  border-top-left-radius: rem(8px);
  border-top-right-radius: rem(8px);
  outline: 2px solid var(--color-content-foreground-muted);
  transition: outline-color 0.1s ease-in-out, outline-width 0.1s ease-in-out;

  .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--color-card-foreground);

    &:before {
      flex-grow: 1;
      content: "";
      display: block;
    }

    .card-title {
      width: 100%;
      padding: rem(12px);
      background-color: var(--color-card-background);
      font-size: rem(22px);
      font-weight: 300;
    }
  }

  .card-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-in-out;
  }
}

// Hover effects
@media (hover: hover) {
  .card {
    &:hover, &:focus-within {
      outline: rem(3px) solid var(--color-card-outline);

      .card-thumbnail {
        transform: scale(1.1);
      }
    }
  }
}
