@import "../variables";

// Content
//----------------------------
.content {
  container-type: size;
  container-name: content;
  font-family: $content-font-family;
}

.markdown-body {
  background-color: var(--color-content-background);
  display: flex;
  flex-direction: column;
  padding: 4px 8px 8px 8px;
}

@media only screen and (min-width: 600px) {
  .markdown-body {
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;

  }
}
