@import "../variables";

/*  ===================
    FILE ITEM STYLES
    =================== */
.file-item {
  display: flex;
  flex-direction: row;
  position: relative;
  height: rem(22px);
  outline-offset: rem(-1px);
  align-items: center;
  justify-content: center;

  .file-name {
    flex: 1;
    line-height: rem(22px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: rem(2px);
  }

  .icon {
    font-size: 150%;
    font-weight: normal;
    line-height: rem(22px);
    width: rem(22px);
    height: rem(22px);
    flex-grow: 0;
    flex-shrink: 0;

    &.icon-chevron-down,
    &.icon-chevron-right {
      font-size: rem(16px);
      width: rem(20px);
      font-weight: normal;
    }
  }

  &.open {
    background-color: var(--color-navigation-selected-background);
  }

  &:focus-within {
    background-color: var(--color-file-item-active-background);
    color: var(--color-file-item-active-foreground);
    outline: rem(1px) solid var(--color-file-item-active-border);
  }
}

/*  ===================
    FOLDER ITEM STYLES
    =================== */
.folder-item {
  .icon-chevron-right {
    display: none;
  }

  .icon-chevron-down {
    display: block;
  }

  &.collapsed {
    .icon-chevron-right {
      display: block;
    }

    .icon-chevron-down {
      display: none;
    }

    + .folder {
      display: none;
    }
  }
}

.folder {
  display: block;

  .file-item {
    padding-left: rem(10px);
  }

  .folder .file-item {
    padding-left: rem(18px);
  }
}


/*  ===================
    HOVER EFFECTS
    =================== */
@media (hover: hover) {
  .file-item {
    &:hover:not(.open):not(:focus-within) {
      background-color: var(--color-file-item-hover-background);
    }
  }
}

