@use "../shared/util" as *;
@use "../shared/vars" as *;
@use "../themes/colors" as colors;

/*=========================
   COLORS
==========================*/
html {
  --color-file-selected-background: #{colors.$dark-mode-file-selected-background};
  --color-file-hover-background: #{colors.$dark-mode-file-hover-background};
  --color-file-active-background: #{colors.$dark-mode-file-active-background};
  --color-file-active-foreground: #{colors.$dark-mode-file-active-foreground};
  --color-file-active-border: #{colors.$dark-mode-file-active-border};
}

html[data-theme="light"] {
  --color-file-selected-background: #{colors.$light-mode-file-selected-background};
  --color-file-hover-background: #{colors.$light-mode-file-hover-background};
  --color-file-active-background: #{colors.$light-mode-file-active-background};
  --color-file-active-foreground: #{colors.$light-mode-file-active-foreground};
  --color-file-active-border: #{colors.$light-mode-file-active-border};
}

/*=========================
   STYLES
==========================*/
.file-item {
  display: flex;
  flex-direction: row;
  position: relative;
  height: rem(22px);
  outline-offset: rem(-1px);
  align-items: center;
  justify-content: center;
  font-size: rem(13px);

  .file-name {
    flex: 1;
    line-height: rem(20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: rem(1px);
  }

  .icon {
    width: rem(20px);
    font-size: 150%;
  }

  &.open {
    background-color: var(--color-file-selected-background);
  }

  &:focus-within {
    background-color: var(--color-file-active-background);
    color: var(--color-file-active-foreground);
    outline: rem(1px) solid var(--color-file-active-border);
  }
}

/*=========================
   MOBILE STYLES
==========================*/
@media (max-width: #{$breakpoint-mobile}) {
  .file-item {
    height: rem(28px);
  }
}

/*=========================
   HOVER STYLES
==========================*/
@media (hover: hover) {
  .file-item {
    &:hover:not(.open):not(:focus-within) {
      background-color: var(--color-file-hover-background);
    }
  }
}
