@use "../shared/util" as *;
@use "../shared/vars" as *;

/*=========================
   STYLES
==========================*/
.folder {
  display: flex;
  flex-direction: column;

  .folder-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    height: rem(22px);
    outline-offset: rem(-1px);
    align-items: center;
    justify-content: left;

    .folder-name {
      display: flex;
      flex: 1;
      font-size: rem(13px);
      line-height: rem(20px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: rem(1px);
    }

    .icon {
      font-size: rem(16px);
      font-weight: normal;
      width: rem(20px);
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .folder-contents {
    display: flex;
    flex-direction: column;

    & .file-item,
    & .folder-item {
      padding-left: rem(13px);
    }

    .folder-contents .file-item,
    .folder-contents .folder-item, {
      padding-left: rem(21px);
    }
  }
}

/*=========================
   MOBILE STYLES
==========================*/
@media (max-width: #{$breakpoint-mobile}) {
  .folder-item {
    height: rem(28px);
  }
}

/*=========================
   HOVER STYLES
==========================*/
@media (hover: hover) {
  .folder-item {
    &:hover:not(:focus-within):not(.focused) {
      background-color: var(--color-file-hover-background);
    }
  }
}

/*=========================
   STATE STYLES
==========================*/
.folder {
  &.open > button > .icon-chevron-right {
    display: none;
  }

  &:not(.open) > button > .icon-chevron-down {
    display: none;
  }

  &:not(.open) > .folder-contents {
    display: none;
  }

  .folder-item {
    &:focus-within,
    &.focused {
      background-color: var(--color-file-active-background);
      color: var(--color-file-active-foreground);
      outline: rem(1px) solid var(--color-file-active-border);
    }
  }
}

