// Footer
//----------------------------
.footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer-foreground);
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  .footer-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .footer-left {
      display: flex;
      align-items: center;
      padding-left: 4px;
    }

    .footer-right {
      display: flex;
      align-items: center;
      padding-right: 4px;
    }
  }
}
