// Navigation
//----------------------------
.navigation {
  background-color: var(--color-navigation-background);

  .display-closed {
    display: none;
  }

  .display-open {
    display: flex;
  }
}

.files {
  display: none;

  @media only screen and (min-width: 992px) {
    display: flex;
  }
}

.search {
  display: none;

  @media only screen and (min-width: 992px) {
    display: flex;
  }
}
