@import "../variables";

// Variables
$navigation-width: rem(300px);

/*  ===================
    NAVIGATION
    =================== */
.navigation-wrapper {
  width: #{$navigation-width};
  background-color: var(--color-navigation-background);
  color: var(--color-navigation-foreground);
  font-size: rem(13px);
  display: none;
  position: relative;
  min-width: rem(150px);
  max-width: calc(100vw - 350px);

  &.open {
    display: flex;
  }

  .nav-panel {
    width: 100%;
    display: none;
  }

  .nav-panel.open {
    display: flex;
  }

  .nav-header {
    padding: rem(12px) 0 rem(12px) rem(20px);
    font-size: rem(11px);
    color: var(--color-navigation-header-foreground);
  }

  #resizer {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: var(--color-panel-resizer);
    width: rem(4px);
    height: 100%;
    top: 0;
    right: rem(-2px);
    cursor: ew-resize;
    opacity: 0;
    transition: opacity 0.1s linear 0s;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
        transition-delay: 0.3s;
      }
    }
  }

  #mobile-overlay {
    display: none;
  }
}

/*  ===================
    MOBILE STYLES
    =================== */
@media only screen and (max-width: 600px) {
  .navigation-wrapper {
    width: calc(100vw - 80px) !important;
    max-width: unset;

    #resizer {
      display: none;
    }

    #mobile-overlay {
      display: block;
      position: absolute;
      z-index: 2;
      width: rem(40px);
      height: 100%;
      top: 0;
      right: rem(-40px);
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }

    .files-panel .file-item {
      height: rem(28px);
    }
  }
}
