@use "../shared/util" as *;
@use "../shared/vars" as *;
@use "../themes/colors" as colors;

/*=========================
   COLORS
==========================*/
html {
  --color-scrollbar-thumb: #{colors.$dark-mode-scrollbar-thumb};
  --color-scrollbar-thumb-hover: #{colors.$dark-mode-scrollbar-thumb-hover};
  --color-scrollbar-thumb-active: #{colors.$dark-mode-scrollbar-thumb-active};

  &[data-theme="light"] {
    --color-scrollbar-thumb: #{colors.$light-mode-scrollbar-thumb};
    --color-scrollbar-thumb-hover: #{colors.$light-mode-scrollbar-thumb-hover};
    --color-scrollbar-thumb-active: #{colors.$light-mode-scrollbar-thumb-active};
  }
}

/*=========================
   STYLES
==========================*/
.scroll-container {
  position: relative;
  height: 100%;
  outline: 0;
  border: 0;

  .scroll-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    outline: 0;
    border: 0;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }

  .scroll-thumb {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 0;
    cursor: default;
    opacity: 0;
    width: rem(12px);
    background: var(--color-scrollbar-thumb);
    transition: opacity 0.5s linear 0.1s;
  }
}

/*=========================
   MOBILE STYLES
==========================*/
@media (max-width: #{$breakpoint-mobile}) {
  .scroll-container .scroll-thumb {
    width: rem(4px);
  }
}

/*=========================
   HOVER STYLES
==========================*/
@media (hover: hover) {
  .scroll-container {

    &:hover .scroll-thumb {
      opacity: 1;
      transition: opacity 0.1s linear 0s;
    }
  }
}

.scroll-container {
  .scroll-thumb {
    &.scrolling {
      opacity: 1;
      background: var(--color-scrollbar-thumb);
      transition: opacity 0.1s linear 0s;
    }

    &:hover {
      opacity: 1;
      background: var(--color-scrollbar-thumb-hover);
    }

    &.active {
      opacity: 1;
      background: var(--color-scrollbar-thumb-active);
    }
  }
}
