// Sidebar
//----------------------------
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-sidebar-background);

  .sidebar-top,
  .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon-wrapper {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;

      .icon {
        display: flex;
        height: 48px;
        width: 44px;
        color: var(--color-sidebar-foreground);
        justify-content: center;
        align-items: center;
        font-size: 24px;
        flex: 0 0 auto;
        text-decoration: none;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;

        &:hover {
          color: var(--color-sidebar-selected-foreground);
        }

        &:focus {
          color: var(--color-sidebar-selected-foreground);
          border-left: 2px solid var(--color-sidebar-selected-foreground);
        }
      }

      .icon-tooltip {
        outline: 1px solid var(--color-tooltip-border);
        padding: 2px 8px;
        background-color: var(--color-tooltip-background);
        color: var(--color-tooltip-foreground);
        visibility: hidden;
        position: relative;
        margin-left: 4px;
        font-size: 12px;
        line-height: 19px;
        flex: 0 0 auto;
        box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.3);


        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -10px;
          bottom: calc(50% - 5px);
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-right-color: var(--color-tooltip-border);
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: -9px;
          bottom: calc(50% - 5px);
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-right-color: var(--color-tooltip-background);
        }
      }

      &:hover .icon-tooltip {
        visibility: visible;
      }
    }

    .profile-pic {
      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        outline: 2px solid black;
      }

      &:hover img {
        outline: 2px solid var(--color-sidebar-selected-foreground);
      }
    }
  }
}
