@import "../variables";

// Variables
$sidebar-width-mobile: rem(40px);
$sidebar-icon-height-mobile: rem(40px);
$sidebar-width: rem(48px);
$sidebar-icon-height: rem(48px);
$tooltip-tip-width: rem(5px);

.sidebar {
  --sidebar-width: #{$sidebar-width-mobile};
  --sidebar-icon-height: #{$sidebar-icon-height-mobile};

  @media only screen and (min-width: #{$breakpoint-mobile}) {
    --sidebar-width: #{$sidebar-width};
    --sidebar-icon-height: #{$sidebar-icon-height};
  }
}

/*  ===================
    SIDEBAR
    =================== */
.sidebar {
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-sidebar-background);
  z-index: 1;

  .sidebar-top,
  .sidebar-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      color: var(--color-sidebar-foreground);

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
      }

      .highlight {
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        display: none;
        border-left: rem(2px) solid var(--color-sidebar-selected-foreground);
      }

      .icon {
        height: var(--sidebar-icon-height);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(24px);
        text-decoration: none;
      }

      .profile-pic img {
        width: rem(26px);
        height: rem(26px);
        border-radius: 50%;
      }

      .tooltip-wrapper {
        position: absolute;
        left: calc(var(--sidebar-width) + #{$tooltip-tip-width});
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s linear 0s;

        .icon-tooltip {
          position: relative;
          background-color: var(--color-tooltip-background);
          color: var(--color-tooltip-foreground);
          padding: rem(2px) rem(8px);
          font-size: rem(12px);
          line-height: rem(19px);
          white-space: nowrap;
          outline: rem(1px) solid var(--color-tooltip-border);
          box-shadow: 0 rem(2px) rem(6px) rem(3px) rgba(0, 0, 0, 0.3);

          &:before {
            content: "";
            display: block;
            position: absolute;
            left: rem(-10px);
            bottom: calc(50% - #{$tooltip-tip-width});
            width: 0;
            height: 0;
            border: #{$tooltip-tip-width} solid transparent;
            border-right-color: var(--color-tooltip-border);
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            left: rem(-9px);
            bottom: calc(50% - #{$tooltip-tip-width});
            width: 0;
            height: 0;
            border: #{$tooltip-tip-width} solid transparent;
            border-right-color: var(--color-tooltip-background);
          }
        }
      }
    }
  }
}

.sidebar .icon-wrapper {

  &.open {
    color: var(--color-sidebar-selected-foreground);

    .highlight {
      display: block;
    }
  }

  .overlay:focus-visible {
    outline: none;

    + .highlight {
      display: block;
    }
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-sidebar-selected-foreground);

      img {
        outline: rem(2px) solid var(--color-sidebar-selected-foreground);
      }

      .tooltip-wrapper {
        visibility: visible !important;
        opacity: 1 !important;
        transition-delay: 0.4s;
      }
    }
  }
}
