.tabs {
  display: none;
}

@media only screen and (min-width: 600px) {
  .tabs {
    display: flex;
  }
}

.tabs {
  background-color: var(--color-tabs-background);

  .tab {
    background-color: var(--color-tab-background);
    color: var(--color-tab-foreground);
    padding-left: 8px;
    font-size: 13px;
    text-decoration: none;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    .name {
      flex-grow: 1;
      flex-shrink: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 3px;
      line-height: 35px;
    }

    .icon {
      width: 18px;
      flex-basis: 18px;
      font-size: 19px;
    }
  }

  .index-tab {
    padding-right: 14px;
  }

  .content-tab {
    flex-shrink: 1;
    padding-right: 5px;

    .name {
      font-style: italic;
    }

    .icon-cross {
      font-size: 16px;
      margin-left: 4px;
      border-radius: 5px;
      padding: 3px 2px 1px 2px;
      z-index: 1;

      color: var(--color-tab-selected-foreground);

      &:hover {
        background-color: var(--color-tab-background);
      }
    }
  }

  .current-tab {
    background-color: var(--color-tab-selected-background);
    color: var(--color-tab-selected-foreground);
  }
}
