@use "../shared/fonts" as *;
@use "../themes/colors" as colors;

/*=========================
   COLORS
==========================*/
html {
  --color-icon-html: #{colors.$dark-mode-icon-html};
  --color-icon-readme: #{colors.$dark-mode-icon-readme};
  --color-icon-markdown: #{colors.$dark-mode-icon-markdown};
  --color-icon-editorconfig: #{colors.$dark-mode-icon-editorconfig};
  --color-icon-json: #{colors.$dark-mode-icon-json};
  --color-icon-pdf: #{colors.$dark-mode-icon-pdf};

  &[data-theme="light"] {
    --color-icon-html: #{colors.$light-mode-icon-html};
    --color-icon-readme: #{colors.$light-mode-icon-readme};
    --color-icon-markdown: #{colors.$light-mode-icon-markdown};
    --color-icon-editorconfig: #{colors.$light-mode-icon-editorconfig};
    --color-icon-json: #{colors.$light-mode-icon-json};
    --color-icon-pdf: #{colors.$light-mode-icon-pdf};
  }
}

/*=========================
   STYLES
==========================*/
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-style: normal;
  font: $icon-font;
}

// Sidebar icons
.icon-files::before {
  content: "\e800";
}

.icon-search::before {
  content: "\e801";
}

.icon-github::before {
  content: "\e802";
}

.icon-linkedin::before {
  content: "\e803";
}

.icon-email::before {
  content: "\e804";
}

.icon-settings::before {
  content: "\e805";
}

// File icons
.icon-html::before {
  content: "\e806";
  color: var(--color-icon-html);
}

.icon-readme::before {
  content: "\e807";
  color: var(--color-icon-readme);
}

.icon-markdown::before {
  content: "\e808";
  color: var(--color-icon-markdown);
}

.icon-config::before {
  content: "\e809";
  color: var(--color-icon-editorconfig);
}

.icon-json::before {
  content: "\e80a";
  color: var(--color-icon-json);
}

.icon-pdf::before {
  content: "\e817";
  color: var(--color-icon-pdf);
}

// Folder icons
.icon-chevron-down::before {
  content: "\e80b";
}

.icon-chevron-right::before {
  content: "\e80c";
}

.icon-tag::before {
  content: "\e816";
}

// Tab icons
.icon-cross::before {
  content: "\e80d";
}

// Footer icons
.icon-light-theme::before {
  content: "\e80e";
  scale: 1.3;
}

.icon-dark-theme::before {
  content: "\e80f";
  scale: 1;
}

.icon-source-control::before {
  content: "\e810";
}

.icon-copyright::before {
  content: "\e811";
}

// Index icons
.icon-wrench::before {
  content: "\e814";
}

.icon-palette::before {
  content: "\e812";
}

.icon-user::before {
  content: "\e813";
}

.icon-article::before {
  content: "\e815";
}

// Resume icons
.icon-download::before {
  content: "\e818";
}
