@use "../shared/util" as *;
@use "../shared/vars" as *;
@use "../shared/fonts" as *;
@use "../themes/colors" as colors;

/*=========================
   COLORS
==========================*/
html {
  color-scheme: dark;
  --color-base-background: #{colors.$dark-mode-base-background};
  --color-base-foreground: #{colors.$dark-mode-base-foreground};

  &[data-theme="light"] {
    color-scheme: light;
    --color-base-background: #{colors.$light-mode-base-background};
    --color-base-foreground: #{colors.$light-mode-base-foreground};
  }
}

body {
  background-color: var(--color-base-background);
  color: var(--color-base-foreground);
}

body, input, button {
  font-family: #{$base-font-family};
  font-size: #{$base-font-size};
  font-weight: #{$base-font-weight};
}

.button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
}


.no-transition * {
  transition: none !important;
}


@media print {

  .header, .footer, .tabs {
    visibility: hidden !important;
  }

  body, .main-wrapper, .main, .content.scrollable, .markdown-body {
    visibility: visible !important;
    position: static;
    overflow: initial;
  }

  .content.scrollable {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;

    h1, h2, h3, h4, h5, h6, p, li {
      color: black !important;
    }
  }
}
