---
layout: layouts/markdown
---

<article class="article-wrapper">

  <div class="article-header">
    <h1>{{ page.title }}</h1>
    <div class="article-meta">

      <div class="article-meta-info">{{ page.date | date_to_string }}</div>

      <div class="article-meta-tags">
        {% for tag in page.tags %}
        <span class="article-meta-tag">
          #{{ tag }}
        </span>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="article-content">
    {{ content }}
  </div>

</article>
