// Dark mode colors
//-----------------

// Base
$dark-mode-color-background-primary: #1E1E1E;
$dark-mode-color-background-secondary: #252526;
$dark-mode-color-foreground-primary: #CCCCCC;
$dark-mode-color-foreground-secondary: #858585;

$dark-mode-color-sidebar-background-primary: #333333;
$dark-mode-color-sidebar-background-secondary: #252526;
$dark-mode-color-sidebar-foreground-primary: #CCCCCC;
$dark-mode-color-sidebar-foreground-secondary: #858585;

$dark-mode-color-footer-background-primary: #007ACC;
$dark-mode-color-footer-foreground-primary: #CCCCCC;

// Markdown
$dark-mode-color-fg-default: #D4D4D4; //#c9d1d9
$dark-mode-color-fg-muted: #8b949e;
$dark-mode-color-fg-subtle: #6e7681;
$dark-mode-color-canvas-default: #1E1E1E; //#0d1117
$dark-mode-color-canvas-subtle: #252526; //#161b22
$dark-mode-color-border-default: #30363d;
$dark-mode-color-border-muted: #21262d;
$dark-mode-color-neutral-muted: #333333; //rgba(110, 118, 129, 0.4)
$dark-mode-color-accent-fg: #58a6ff;
$dark-mode-color-accent-emphasis: #1f6feb;
$dark-mode-color-attention-subtle: rgba(187, 128, 9, 0.15);
$dark-mode-color-danger-fg: #f85149;

// Code highlighting
$dark-mode-color-code-highlight-background: #252526;
$dark-mode-color-code-highlight-default: #D4D4D4;
$dark-mode-color-code-highlight-comment: #8b949e;
$dark-mode-color-code-highlight-keyword: #ff7b72;
$dark-mode-color-code-highlight-string: #a5d6ff;
$dark-mode-color-code-highlight-constant: #79c0ff;
$dark-mode-color-code-highlight-function: #d2a8ff;
