// Dark mode colors
//-----------------

// Base
$dark-mode-sidebar-background: #333333;
$dark-mode-sidebar-foreground: #858585;
$dark-mode-sidebar-selected-foreground: #FFFFFF;
$dark-mode-tooltip-background: #252526;
$dark-mode-tooltip-foreground: #CCCCCC;
$dark-mode-tooltip-border: #454545;
$dark-mode-navigation-background: #252526;
$dark-mode-navigation-foreground: #CCCCCC;
$dark-mode-navigation-selected-background: #37373D;
$dark-mode-navigation-header-foreground: #BBBBBB;
$dark-mode-panel-resizer: #007ACC;
$dark-mode-file-item-hover-background: #2A2D2E;
$dark-mode-file-item-active-background: #04395E;
$dark-mode-file-item-active-foreground: #FFFFFF;
$dark-mode-file-item-active-border: #007FD4;
$dark-mode-search-bar-background: #3C3C3C;
$dark-mode-search-bar-foreground: #CCCCCC;
$dark-mode-search-bar-active-border: #007FD4;
$dark-mode-search-bar-placeholder: #A6A6A6;
$dark-mode-tabs-background: #252526;
$dark-mode-tab-background: #2D2D2D;
$dark-mode-tab-foreground: #969696;
$dark-mode-tab-selected-background: #1E1E1E;
$dark-mode-tab-selected-foreground: #FFFFFF;
$dark-mode-footer-background: #007ACC;
$dark-mode-footer-foreground: #FFFFFF;
$dark-mode-breadcrumbs-foreground: #A9A9A9;
$dark-mode-scrollbar-thumb: rgba(255, 255, 255, 0.16);
$dark-mode-scrollbar-thumb-hover: rgba(255, 255, 255, 0.21);
$dark-mode-scrollbar-thumb-active: rgba(255, 255, 255, 0.28);
$dark-mode-icon-markdown: #519ABA;
$dark-mode-icon-html: #E37933;
$dark-mode-icon-readme: #519ABA;
$dark-mode-icon-editorconfig: #6D8086;
$dark-mode-icon-json: #CBCB41;
$dark-mode-content-background: #1E1E1E;
$dark-mode-content-foreground: #D4D4D4;
$dark-mode-content-foreground-muted: #444444;

// Markdown
$dark-mode-color-fg-default: #D4D4D4; //#c9d1d9
$dark-mode-color-fg-muted: #8b949e;
$dark-mode-color-fg-subtle: #6e7681;
$dark-mode-color-canvas-default: #1E1E1E; //#0d1117
$dark-mode-color-canvas-subtle: #252526; //#161b22
$dark-mode-color-border-default: #30363d;
$dark-mode-color-border-muted: #21262d;
$dark-mode-color-neutral-muted: #333333; //rgba(110, 118, 129, 0.4)
$dark-mode-color-accent-fg: #58a6ff;
$dark-mode-color-accent-emphasis: #1f6feb;
$dark-mode-color-attention-subtle: rgba(187, 128, 9, 0.15);
$dark-mode-color-danger-fg: #f85149;

// Code highlighting
$dark-mode-color-code-highlight-background: #1E1E1E;
$dark-mode-color-code-highlight-default: #D4D4D4;
$dark-mode-color-code-highlight-comment: #8b949e;
$dark-mode-color-code-highlight-keyword: #ff7b72;
$dark-mode-color-code-highlight-string: #a5d6ff;
$dark-mode-color-code-highlight-constant: #79c0ff;
$dark-mode-color-code-highlight-function: #d2a8ff;

// Index Page
$dark-mode-index-welcome-accent: #E31B6D;
$dark-mode-index-options: #555555;
$dark-mode-index-link-projects-hover: #CBCB41;
$dark-mode-index-link-drawings-hover: #E37933;
$dark-mode-index-link-articles-hover: #519ABA;
$dark-mode-index-link-about-hover: #D2A8FF;

// Card
$dark-mode-card-foreground: #D4D4D4;
$dark-mode-card-background: #444444DD;
$dark-mode-card-outline: #D4D4D4;
