// Light mode colors
// -----------------

// Base
$light-mode-sidebar-background: #2C2C2C;
$light-mode-sidebar-foreground: #808080;
$light-mode-sidebar-selected-foreground: #FFFFFF;
$light-mode-tooltip-background: #F3F3F3;
$light-mode-tooltip-foreground: #616161;
$light-mode-tooltip-border: #C8C8C8;
$light-mode-navigation-background: #F3F3F3;
$light-mode-navigation-foreground: #616161;
$light-mode-navigation-selected-background: #E4E6F1;
$light-mode-tabs-background: #F3F3F3;
$light-mode-tab-background: #ECECEC;
$light-mode-tab-foreground: #6A6A6A;
$light-mode-tab-selected-background: #FFFFFF;
$light-mode-tab-selected-foreground: #333333;
$light-mode-content-background: #FFFFFF;
$light-mode-content-foreground: #333333;
$light-mode-footer-background: #007ACC;
$light-mode-footer-foreground: #FFFFFF;
$light-mode-breadcrumbs-foreground: #818181;
$light-mode-scrollbar-thumb: #C1C1C1;
$light-mode-icon-markdown: #498BA7;
$light-mode-icon-html: #D36F34;

// Markdown
$light-mode-color-fg-default: #24292f;
$light-mode-color-fg-muted: #57606a;
$light-mode-color-fg-subtle: #6e7781;
$light-mode-color-canvas-default: #ffffff;
$light-mode-color-canvas-subtle: #f6f8fa;
$light-mode-color-border-default: #d0d7de;
$light-mode-color-border-muted: hsla(210, 18%, 87%, 1);
$light-mode-color-neutral-muted: rgba(175, 184, 193, 0.2);
$light-mode-color-accent-fg: #0969da;
$light-mode-color-accent-emphasis: #0969da;
$light-mode-color-attention-subtle: #fff8c5;
$light-mode-color-danger-fg: #cf222e;

// Code highlighting
$light-mode-color-code-highlight-background: #FFFFFF;
$light-mode-color-code-highlight-default: #252526;
$light-mode-color-code-highlight-comment: #8b949e;
$light-mode-color-code-highlight-keyword: #ff7b72;
$light-mode-color-code-highlight-string: #a5d6ff;
$light-mode-color-code-highlight-constant: #79c0ff;
$light-mode-color-code-highlight-function: #d2a8ff;
