// Light mode colors
// -----------------

// Footer
$footer-background: #007ACC;
$footer-foreground: #FFFFFF;
$footer-theme-button: #16825D;
$footer-theme-button-hover: #329171;
$footer-source-control-hover: #1F8AD2;

// Actions
$actions-background: #2C2C2C;
$actions-foreground: #808080;
$actions-selected-foreground: #FFFFFF;
$actions-tooltip-background: #F3F3F3;
$actions-tooltip-foreground: #616161;
$actions-tooltip-border: #C8C8C8;

// File
$file-selected-background: #E4E6F1;
$file-hover-background: #E8E8E8;
$file-active-background: #0060C0;
$file-active-foreground: #FFFFFF;
$file-active-border: #90C2F9;

// Scroll
$scrollbar-thumb: rgba(0, 0, 0, 0.16);
$scrollbar-thumb-hover: rgba(0, 0, 0, 0.21);
$scrollbar-thumb-active: rgba(0, 0, 0, 0.28);

// Menu
$menu-background: #F3F3F3;
$menu-foreground: #616161;
$menu-header-foreground: #6F6F6F;
$menu-resizer: #007ACC;
$menu-mobile-overlay: rgba(0, 0, 0, 0.5);

// Search
$search-bar-background: #FFFFFF;
$search-bar-foreground: #616161;
$search-bar-active-border: #0090F1;
$search-bar-placeholder: #767676;
$search-tag-foreground: #767676;
$search-tag-background: 128, 128, 128;
$search-tag-hover-background: #0060C0;
$search-tag-hover-foreground: #FFFFFF;
$search-tag-hover-border: #90C2F9;
$search-tag-selected-background: #831c1c;
$search-tag-selected-foreground: #FFFFFF;
$search-tag-selected-border: #ff4f4f;
$search-tag-selected-hover-background: #831c1c;
$search-tag-selected-hover-foreground: #FFFFFF;
$search-tag-selected-hover-border: #ff4f4f;
$search-results-label: #616161;

// Tabs
$tabs-background: #F3F3F3;
$tab-background: #ECECEC;
$tab-foreground: #6A6A6A;
$tab-selected-background: #FFFFFF;
$tab-selected-foreground: #333333;

// Index Page
$index-welcome-accent: #E31B6D;
$index-links: #949494;
$index-link-projects-hover: #B7B73B;
$index-link-drawings-hover: #CC6D2E;
$index-link-articles-hover: #498BA7;
$index-link-about-hover: #D2A8FF;

// Markdown
$markdown-fg-default: #24292f;
$markdown-fg-muted: #57606a;
$markdown-fg-subtle: #6e7781;
$markdown-canvas-default: #ffffff;
$markdown-canvas-subtle: #f6f8fa;
$markdown-border-default: #d0d7de;
$markdown-border-muted: hsla(210, 18%, 87%, 1);
$markdown-neutral-muted: rgba(175, 184, 193, 0.2);
$markdown-accent-fg: #0969da;
$markdown-accent-emphasis: #0969da;
$markdown-attention-subtle: #fff8c5;
$markdown-danger-fg: #cf222e;

// Code highlighting
$markdown-code-highlight-background: #FFFFFF;
$markdown-code-highlight-default: #252526;
$markdown-code-highlight-comment: #8b949e;
$markdown-code-highlight-keyword: #ff7b72;
$markdown-code-highlight-string: #a5d6ff;
$markdown-code-highlight-constant: #79c0ff;
$markdown-code-highlight-function: #d2a8ff;

// Card
$card-foreground: #24292f;
$card-background: #CCCCCCDD;
$card-outline: #24292f;

// Icons
$icon-markdown: #498BA7;
$icon-html: #CC6D2E;
$icon-readme: #498BA7;
$icon-editorconfig: #627379;
$icon-json: #B7B73B;

// Base
$base-background: #FFFFFF;
$base-foreground: #24292f;
$base-foreground-muted: #CCCCCC;
