@font-face {
  font-family: "roquec-portfolio";
  font-display: block;
  src: url("../fonts/roquec-portfolio.woff2") format("woff2");
}

.icon {
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.icon-files::before {
  font-family: roquec-portfolio, serif;
  content: "\e80a";
}

.icon-search::before {
  font-family: roquec-portfolio, serif;
  content: "\e806";
}

.icon-github::before {
  font-family: roquec-portfolio, serif;
  content: "\f80c";
}

.icon-linkedin::before {
  font-family: roquec-portfolio, serif;
  content: "\f80d";
}

.icon-email::before {
  font-family: roquec-portfolio, serif;
  content: "\e80e";
}

.icon-settings::before {
  font-family: roquec-portfolio, serif;
  content: "\e80b";
}

.icon-html::before {
  font-family: roquec-portfolio, serif;
  content: "\e800";
  color: var(--color-icon-html);
}

.icon-markdown::before {
  font-family: roquec-portfolio, serif;
  content: "\e801";
  color: var(--color-icon-markdown);
}

.icon-cross::before {
  font-family: roquec-portfolio, serif;
  content: "\e807";
}

.icon-chevron-down::before {
  font-family: roquec-portfolio, serif;
  content: "\e808";
}

.icon-chevron-right::before {
  font-family: roquec-portfolio, serif;
  content: "\e809";
}

.icon-readme::before {
  font-family: roquec-portfolio, serif;
  content: "\e802";
  color: var(--color-icon-readme);
}

.icon-config::before {
  font-family: roquec-portfolio, serif;
  content: "\e803";
  color: var(--color-icon-editorconfig);
}

.icon-theme::before {
  font-family: roquec-portfolio, serif;
  content: "\e804";
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

html[data-theme="light"] {
  .icon-theme::before {
    font-family: roquec-portfolio, serif;
    content: "\e80f";
    font-size: 12px;
  }
}
