@font-face {
  font-family: "codicon";
  font-display: block;
  src: url("../fonts/codicon.ttf") format("truetype");
}

@font-face {
  font-family: "seti";
  font-display: block;
  src: url("../fonts/seti.woff") format("woff");
}

@font-face {
  font-family: "fontawesome";
  font-display: block;
  src: url("../fonts/fontawesome-brands.ttf") format("truetype");
}

.icon {
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.icon-files::before {
  font-family: codicon, serif;
  content: "\eaf0";
}

.icon-search::before {
  font-family: codicon, serif;
  content: "\ea6d";
}

.icon-github::before {
  font-family: codicon, serif;
  content: "\eba1";
}

.icon-linkedin::before {
  font-family: fontawesome, serif;
  content: "\f08c";
}

.icon-email::before {
  font-family: codicon, serif;
  content: "\eb1c";
}

.icon-settings::before {
  font-family: codicon, serif;
  content: "\eb51";
}

.icon-html::before {
  font-family: seti, serif;
  content: "\e048";
  color: var(--color-icon-html);
}

.icon-markdown::before {
  font-family: seti, serif;
  content: "\e060";
  color: var(--color-icon-markdown);
}

.icon-cross::before {
  font-family: codicon, serif;
  content: "\ea76";
}

.icon-chevron-down::before {
  font-family: codicon, serif;
  content: "\eab4";
}

.icon-chevron-right::before {
  font-family: codicon, serif;
  content: "\eab6";
}
