@import "variables";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 1 auto;
  height: 0;
}

.footer {
  z-index: 2;
}

.main-wrapper {
  display: flex;
  flex-direction: row;

  .main {
    flex: 1;
  }
}

.header {
  display: flex;
  flex-direction: row;
  z-index: 1;

  .navigation {
    flex: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;

    .markdown-body {
      max-width: #{$content-max-width};
    }
  }
}
