@import "variables";

.main-wrapper {
  height: calc(100% - #{$footer-height});
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
  height: $footer-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: row;

  .header {
    flex-grow: 0;
  }

  .main {
    flex-grow: 1;
  }
}

.header {
  display: flex;
  flex-direction: row;

  .sidebar {
    width: $sidebar-width;
    flex-grow: 0;
  }

  .navigation {
    flex-grow: 1;

    .files {
      width: $navigation-width;
    }
    
    .search {
      width: $navigation-width;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 250px;

  .tabs {
    height: #{$tabs-height};

    .tab {
      height: #{$tabs-height};
      width: auto;
      display: inline-block;
    }
  }

  .content {
    flex-grow: 1;

    .markdown-body {
      max-width: #{$content-max-width};
    }
  }
}
