@import "variables";

.sidebar {
  height: calc(100% - #{$footer-height});
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
}

.tabs {
  height: #{$tabs-height};
  width: calc(100% - #{$sidebar-width});
  position: fixed;
  top: 0;
  right: 0;

  .tab {
    height: #{$tabs-height};
    width: auto;
    display: inline-block;
  }
}

.content {
  height: calc(100% - #{$footer-height} - #{$tabs-height});
  width: calc(100% - #{$sidebar-width});
  position: fixed;
  top: #{$tabs-height};
  right: 0;
}

.footer {
  height: $footer-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.content-wrapper {
  padding: 20px;
}
