@import "theme/light", "theme/dark";

html {
  --color-background-primary: #{$dark-mode-color-background-primary};
  --color-background-secondary: #{$dark-mode-color-background-secondary};
  --color-foreground-primary: #{$dark-mode-color-foreground-primary};
  --color-foreground-secondary: #{$dark-mode-color-foreground-secondary};
  --color-sidebar-background-primary: #{$dark-mode-color-sidebar-background-primary};
  --color-sidebar-background-secondary: #{$dark-mode-color-sidebar-background-secondary};
  --color-sidebar-foreground-primary: #{$dark-mode-color-sidebar-foreground-primary};
  --color-sidebar-foreground-secondary: #{$dark-mode-color-sidebar-foreground-secondary};
  --color-footer-background-primary: #{$dark-mode-color-footer-background-primary};
  --color-footer-foreground-primary: #{$dark-mode-color-footer-foreground-primary};
}

html[data-theme="light"] {
  --color-background-primary: #{$light-mode-color-background-primary};
  --color-background-secondary: #{$light-mode-color-background-secondary};
  --color-foreground-primary: #{$light-mode-color-foreground-primary};
  --color-foreground-secondary: #{$light-mode-color-foreground-secondary};
  --color-sidebar-background-primary: #{$light-mode-color-sidebar-background-primary};
  --color-sidebar-background-secondary: #{$light-mode-color-sidebar-background-secondary};
  --color-sidebar-foreground-primary: #{$light-mode-color-sidebar-foreground-primary};
  --color-sidebar-foreground-secondary: #{$light-mode-color-sidebar-foreground-secondary};
  --color-footer-background-primary: #{$light-mode-color-footer-background-primary};
  --color-footer-foreground-primary: #{$light-mode-color-footer-foreground-primary};
}


body {
  font-family: Segoe WPC, Segoe UI, sans-serif;
}

.scrollable::-webkit-scrollbar {
  width: 14px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #454545;
}

// Sidebar
//----------------------------
.sidebar {
  background-color: var(--color-sidebar-background-primary);
  z-index: 1;

  .sidebar-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sidebar-top,
    .sidebar-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon-wrapper {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;

        .icon {
          display: flex;
          height: 48px;
          width: 48px;
          color: var(--color-sidebar-foreground-secondary);
          justify-content: center;
          align-items: center;
          font-size: 24px;
          flex: 0 0 auto;

          &:hover {
            color: var(--color-sidebar-foreground-primary);
          }
        }

        .icon-tooltip {
          outline: 1px solid #454545;
          padding: 2px 8px;
          background-color: var(--color-sidebar-background-secondary);
          color: var(--color-sidebar-foreground-secondary);
          visibility: hidden;
          position: relative;
          margin-left: 4px;
          font-size: 12px;
          line-height: 19px;
          flex: 0 0 auto;
          box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.3);


          &:before {
            content: '';
            display: block;
            position: absolute;
            left: -10px;
            bottom: calc(50% - 5px);
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-right-color: #454545;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            left: -9px;
            bottom: calc(50% - 5px);
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-right-color: var(--color-sidebar-background-secondary);
          }
        }

        &:hover .icon-tooltip {
          visibility: visible;
        }
      }

      .profile-pic {
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        &:hover img {
          outline: 2px solid var(--color-sidebar-foreground-primary);
        }
      }
    }
  }
}


// Navigation
//----------------------------
.navigation-wrapper {
  background-color: var(--color-sidebar-background-secondary);
}


// Content
//----------------------------
.content {
  background-color: var(--color-background-primary);
  display: flex;
  flex-direction: column;

  .tabs-wrapper {
    height: 35px;
    background-color: var(--color-background-secondary);

    .tab {
      height: 35px;
      width: 200px;
      background-color: var(--color-background-primary);
    }
  }
}


// Footer
//----------------------------
.footer {
  background-color: var(--color-footer-background-primary);
  color: var(--color-footer-foreground-primary);
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  .footer-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .footer-left {
      display: flex;
      align-items: center;
      padding-left: 4px;
    }

    .footer-right {
      display: flex;
      align-items: center;
      padding-right: 4px;
    }
  }
}

