@import "theme/light", "theme/dark";

html {
  --color-background-sidebar: #{$dark-mode-color-background-sidebar};
  --color-background-navigation: #{$dark-mode-color-background-navigation};
  --color-background-content: #{$dark-mode-color-background-content};
  --color-background-footer: #{$dark-mode-color-background-footer};
}

html[data-theme="light"] {
  --color-background-sidebar: #{$light-mode-color-background-sidebar};
  --color-background-navigation: #{$light-mode-color-background-navigation};
  --color-background-content: #{$light-mode-color-background-content};
  --color-background-footer: #{$light-mode-color-background-footer};
}

// Sidebar
//----------------------------
.sidebar {
  background-color: var(--color-background-sidebar);
}

.sidebar-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    .nav-icon,
    .search-icon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #fff;
      display: block;
      text-align: center;
      line-height: 1.2;
    }

    .social-icons {
      display: flex;
      flex-direction: column;

      a {
        font-size: 20px;
        margin-bottom: 20px;
        color: #fff;
        display: block;
        text-align: center;
        line-height: 1.2;
      }

      i {
        margin-right: 0;
      }

      .fab {
        font-size: 22px;
      }
    }
  }

  .sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    .profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .settings-icon {
      font-size: 20px;
      color: #fff;
      display: block;
      text-align: center;
      line-height: 1.2;
    }
  }
}

.navigation-wrapper {
  background-color: var(--color-background-navigation);
}

.content {
  background-color: var(--color-background-content);
}

// Footer
//----------------------------
.footer {
  background-color: var(--color-background-footer);
  color: #D4D4D4;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;

  .footer-left {
    display: flex;
    align-items: center;
    padding-left: 4px;
  }

  .footer-right {
    display: flex;
    align-items: center;
    padding-right: 4px;
  }
}
