@charset "utf-8";

// Media query breakpoints
$breakpoint-mobile: 600px !default;
$breakpoint-wide: 992px !default;

// Layout variables
$sidebar-width: 48px !default;
$footer-height: 22px !default;
$tabs-height: 35px !default;
$navigation-width: 300px !default;
$content-max-width: 830px !default;

// Font variables
$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

