<div id="search" class="menu-panel">

  <label class="nav-header" for="search-box">SEARCH</label>


  <div id="search-box-wrapper" class="search-box-wrapper">
    <i class="icon icon-chevron-right"></i>
    <input type="text"
           autocomplete="off"
           spellcheck="false"
           autocapitalize="off"
           title="Search"
           placeholder="Search"
           id="search-box"
           oninput="search.search(value)"/>
    <button id="search-box-clear" class="button" onclick="search.clearSearch()" title="Clear Search Results">
      <i class="icon icon-cross"></i>
    </button>
  </div>


  {% capture scrollable_content %}

  <div id="search-tags-wrapper" class="search-tags-wrapper">
    {% assign posts = site.projects | concat: site.articles | concat: site.drawings %}
    {% assign grouptag = posts | map: 'tags' | join: ',' | split: ',' | group_by_exp: "item", "item" |
    sort: 'name' %}

    {% assign biggestTag = grouptag | sort: 'size' | last %}
    {% assign smallestTag = grouptag | sort: 'size' | first %}
    {% assign minSize = smallestTag.size %}
    {% assign maxScale = biggestTag.size | minus: minSize %}
    {% assign step = 9 | divided_by: maxScale %}

    {% for tag in grouptag %}
    {% assign scale = tag.size | minus: minSize | times: step | plus: 1.0 | round %}
    <button id="tag-{{tag.name}}"
            class="button tag-item tag-size-{{ scale }}"
            title="#{{ tag.name }}"
            onclick="search.searchTag('{{ tag.name }}')">
      <span class="tag-name">#{{ tag.name }}</span>
      <span class="tag-number">({{ tag.size }})</span>
    </button>
    {% endfor %}
  </div>

  <div id="search-results-wrapper" class="search-results folder">

    <div id="search-results-label">Results</div>

    <div id="search-results-items" class="folder-contents">

      <!-- ========= PROJECTS FOLDER CONTENTS ========= -->
      {% capture projects_folder_contents %}
      <!-- Project file items -->
      {% for project in site.projects %}
      {% include _html/components/file.html page=project scope="search-panel" %}
      {% endfor %}
      {% endcapture %}

      <!-- PROJECTS FOLDER -->
      {% include _html/components/folder.html id='search-results-projects' title='roquec/projects' name='projects'
      contents=projects_folder_contents %}


      <!-- ========= ARTICLES FOLDER CONTENTS ========= -->
      {% capture articles_folder_contents %}
      <!-- Project file items -->
      {% for article in site.articles %}
      {% include _html/components/file.html page=article scope="search-panel" %}
      {% endfor %}
      {% endcapture %}

      <!-- PROJECTS FOLDER -->
      {% include _html/components/folder.html id='search-results-articles' title='roquec/articles' name='articles'
      contents=articles_folder_contents %}


      <!-- ========= DRAWINGS FOLDER CONTENTS ========= -->
      {% capture drawings_folder_contents %}
      <!-- Project file items -->
      {% for drawing in site.drawings %}
      {% include _html/components/file.html page=drawing scope="search-panel" %}
      {% endfor %}
      {% endcapture %}

      <!-- PROJECTS FOLDER -->
      {% include _html/components/folder.html id='search-results-drawings' title='roquec/drawings' name='drawings'
      contents=drawings_folder_contents %}

    </div>
  </div>

  {% endcapture %}

  {% include _html/components/scroll.html id="search-scroll" content=scrollable_content %}
</div>
