<div id="tabs">

  <a id="index-tab"
     class="button tab index-tab {% if page.file == 'index' %}current-tab{% endif %}"
     title="roquec/index.html"
     href="/">

    <i class="icon icon-html"></i>
    <div class="name">index.html</div>

  </a>

  {% if page.file != "index" %}

  {% if page.file %}
  {% assign file = page.file | append: '.' | append: page.type %}
  {% else %}
  {% assign file = page.title | slugify | append: '.' | append: page.type %}
  {% endif %}

  <div class="tab content-tab current-tab">

    <i class="icon icon-{{ page.icon }}"></i>
    <div class="name">{{ file }}</div>
    <a href="/" title="Close" class="icon icon-cross"></a>

  </div>

  {% endif %}
</div>
