---
title: index
---
<div class="title-wrapper">
  <div class="main-title-1"><span class="hello">Hello, I'm</span> <span class="main-title-name">Roque Carrizo</span>.
  </div>
  <img class="pic" src="https://roquec.com/assets/images/roque_profile.png">
  <div class="main-title-2">I'm a software <span class="engineer">engineer.</span></div>
</div>

<div>
  {% include preview.html posts=site.projects url="/projects.html" name="Projects" %}
  {% include preview.html posts=site.articles url="/articles.html" name="Articles" %}
  {% include preview.html posts=site.drawings url="/drawings.html" name="Drawings" %}
</div>
