@use "util" as *;

// Media query breakpoints
$breakpoint-mobile: rem(600px);
$breakpoint-wide: rem(992px);
html {
  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-wide: #{$breakpoint-wide};
}

// Layout variables
$content-max-width: 95ch;

