@use "util" as *;

// Media query breakpoints
$breakpoint-mobile: rem(600px);
$breakpoint-wide: rem(992px);
html {
  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-wide: #{$breakpoint-wide};
}

// Layout variables
$content-max-width: 132ch;
$content-padding: rem(30px) rem(52px) rem(30px) rem(52px);
$content-padding-mobile: rem(16px) rem(8px) rem(16px) rem(8px);
